*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration:none ;
    display: inline-block;
}

img{
    display: block;
}

.container{
  max-width: 1170px;
  margin: 0 auto;

} 



.title {
    display: flex;
    justify-content: center;
    }
    
     .title h4{
        font-size: 18px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        color: #d5d5d5;
        text-transform: uppercase;
    
    }
    
     .title h4{
    position: relative;
    
    }
    
     .title h4::before{
        content: "";
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%) translateX(-100%);
        width: 102px;
        height: 1px;
        background-color: #535353;
    }
    
     .title h4::after{
        content: "";
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%) translateX(100%);
        width: 102px;
        height: 1px;
        background-color: #535353;
    }
    





/* =================================================================================== */


nav{
    padding: 33px 0;
    background-color: rgba(0, 0, 0, 0.44);
    position: absolute;
    width: 100%;
}

nav .container{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

nav .container .logo a{
display: block;

}

nav .container .menu ul{
    display: flex;
    column-gap: 43px;
}

nav .container .menu ul li a{
    text-transform: uppercase;
    font-size: 14px;
    font-family:'Roboto Condensed', sans-serif; 
    color: #f5f5f5 ;
}

nav .container .menu ul li a:hover{
    color: #28b8d8;
    height: 100%;
}

/* ---------------------------------banner start--------------------------------------------- */
  

#banner_part{
background-image: url(../images/banner.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 331px 0  252px;
}


#banner_part .container .text{
    width: 430px;
    margin: 0 auto;
}


#banner_part .container h1{
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: right;

}
#banner_part .container h2{
    font-weight: 300;
    color:  #ffffff;;
    font-family: 'Roboto Slab', serif; 
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: right;
    letter-spacing: 4px;
    
}
#banner_part .container p{
    font-weight: 300;
    color:  #ffffff;;
    font-family: 'Roboto Slab', serif; 
    font-size: 14px;
    text-align: right;
    margin-right: 75px;

}

/* ----------------------banner_part end---------------------------------- */
/* ----------------------banner_part2 start---------------------------------- */


#banner_part2{
    background-color: #f9f9f9;
    padding: 79px 0 82px;
}



#banner_part2 .container .tittle h1{
    font-weight: 300;
    color:  #444444;
    font-family: 'Roboto Slab', serif; 
    font-size: 30px;
    text-align: center;
    margin: 80px 0 26px;    

}
#banner_part2 .container .tittle p{
    font-weight: 400;
    color:  #666666;
    font-family: 'Roboto Slab', serif; 
    font-size: 14px;
    text-align: center;
    margin-bottom: 78px;

}
#banner_part2 .container  h2{
    font-weight: 700;
    color:  #444444;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-align: center;

}

#banner_part2 .container .box{
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   column-gap: 30px;

}

#banner_part2 .container .box .box1{
    padding: 16px 16px 0;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    height: 380px;
    /* plm banner_part2 */

}


#banner_part2 .container .box .box1 .box01 {
    display: flex;
text-align: center;
align-items: center;
flex-direction: column;
max-width: 338px;
margin: 25px 0 0;
}

#banner_part2 .container .box .box1 .box01 h1{
    font-weight: 700;
    color:  #444444;
    font-family: 'Roboto Slab', serif; 
    font-size: 17px;
    text-align: center;
    margin-bottom: 11px;

}

#banner_part2 .container .box .box1 .box01 p {
max-width: 338px;
font-family: 'Roboto', sans-serif;
color: #666666;
font-size: 14px;
font-weight: 400;
line-height: 26px;
}

/* ----------------------banner_part2 end---------------------------------- */


/* ==========================intagram part start======================================== */

#instragram_part{
    padding: 50px 0;
    background-color: #2c2c2c;
    border-bottom: 1px solid  #a6a6a6;
}


#instragram_part .main{
    display: flex;
    margin: 44px 0 60px;

}

#instragram_part .main .image{
    width: 25%;
}

#instragram_part .main .image img{
    width: 100%;
}

#instragram_part .btn {
    text-align: center;


}


#instragram_part .btn a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #a6a6a6;
    font-family: 'Roboto', sans-serif;
    padding: 19px 21px;
    border: 1px solid #a6a6a6;

}

#instragram_part .btn a i{
    margin-right: 7px;
}

/* ==========================intagram part end======================================== */


/* ==============================jurnal part start========================================= */


#journal_part{
    padding: 77PX;
    background-color: #f9f9f9;
}

#journal_part .container .title h4{
color: #444444;
font-family: 'Roboto Condensed', sans-serif;
font-size: 18px;
font-weight: 700;

}

#journal_part .container .main{
display: flex;
justify-content: space-between;
margin-top: 30px;
}


#journal_part .container .main .service_item{
    max-width: 370px;
    padding: 25px 0;
    background-color: #ffffff;
    border:1px solid #a6a6a6;
    text-align: center;
    padding: 25px 0 31px;

}


#journal_part .container .main .service_item .text{
    margin-bottom: 22px;
    
    }
    
    #journal_part .container .main .service_item .text h3{
        margin-bottom: 11px;
        color: #444444;
        font-family: 'Roboto Slab', serif; 
        font-size: 17px;
        font-weight: 700;

    }
    
    
    #journal_part .container .main .service_item .text p{
       color:#999999;
       font-family: 'Roboto', sans-serif;
       font-size: 12px;
       font-weight: 400;
       text-align: center;
    
    }
    

#journal_part .container .main .service_item .image{
    width: 100%;
    height: 227px;
    margin-bottom: 25px;

}


#journal_part .container .main .service_item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#journal_part .container .main  .service_item  p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:400 ;
    color: #666666;
    text-align: left;
    padding-left: 30px;

}


#journal_part .container .main  .service_item .bttoom{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
   padding:  0 31px;

}

#journal_part .container .main  .service_item .bttoom  h6{
    border-bottom: 2px solid #28b8d8;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;

}

#journal_part .container .main  .service_item .bttoom i{
    padding: 0 5px;
}
/* --------------------------------------------------------------------------- */

#journal_part2{
    padding: 78px;
    background-color: #f9f9f9;
}


#journal_part2 .container{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

}


#journal_part2 .container  .one {
    width: 50%;
}

#journal_part2 .container  .one .title {
justify-content: flex-start

}

#journal_part2 .container  .one .title  h4{
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;

}


#journal_part2 .container  .one .title  h4::before{
    display: none;

}

#journal_part2 .container  .one .sub   {
display: flex;
column-gap: 28px;
padding-top: 30px;

}


#journal_part2 .container  .one .sub .image  {
width: 196px;
height: 280px;
background-color: #829b7f;

}


#journal_part2 .container  .one .sub .text h4 {
    font-family: 'Roboto Slab', serif; 
    font-weight: 300px;
    font-size: 18px;
    color: #666666;
    margin-bottom: 23px;

}


#journal_part2 .container  .one .sub .text p {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300px;
    font-size: 14px;
    color: #666666;
    line-height: 19px;


}

#journal_part2 .container .two{
    width: 50%;

}

#journal_part2 .container  .two .title {
    justify-content: flex-start
    
}
    
#journal_part2 .container  .two .title  h4{
     color: #444444;
     font-size: 18px;
     font-weight: 700;
     font-family: 'Roboto Condensed', sans-serif;

}
    
    
#journal_part2 .container  .two .title  h4::before{
   display: none;
    
}

#journal_part2 .container  .two .main{
    padding-top: 26px;
    padding-left: 6px;
}

#journal_part2 .container  .two .main .Photography{
    display: flex;
}

#journal_part2 .container  .two .main .Photography .text{
    padding-left: 24px;
}

#journal_part2 .container  .two .main .Photography .text h4{
    font-family: 'Roboto Slab', serif; 
    font-size: 18px;
    font-weight: 700;
    color: #444444;  
    padding-bottom: 16px;  

}

#journal_part2 .container  .two .main .Photography .text p{
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #666666;    

}


#journal_part2 .container  .two .main .motion_video{
    display: flex;
    margin: 30px 0;
}

#journal_part2 .container  .two .main .motion_video .text{
    padding-left: 24px;
}

#journal_part2 .container  .two .main .motion_video .text h4{
    font-family: 'Roboto Slab', serif; 
    font-size: 18px;
    font-weight: 700;
    color: #444444;  
    padding-bottom: 16px;  

}

#journal_part2 .container  .two .main .motion_video .text p{
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #666666;    

}


#journal_part2 .container  .two .main .photo_etouching{
    display: flex;

}

#journal_part2 .container  .two .main .photo_etouching .text{
    padding-left: 24px;
}

#journal_part2 .container  .two .main .photo_etouching .text h4{
    font-family: 'Roboto Slab', serif; 
    font-size: 18px;
    font-weight: 700;
    color: #444444;  
    padding-bottom: 16px;  

}

#journal_part2 .container  .two .main .photo_etouching .text p{
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #666666;    

}

/* ==============================jurnal part end========================================= */

/* ==========================fotter start ========================================= */


#fotter .container .main  p{
    color: #cacaca; 
    font-family: 'Roboto', sans-serif;
    font-size:14px ;
    font-weight: 400;

}

#fotter  {
padding: 68px 0 0;
background-color: #373737;
}

#fotter .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}


#fotter .container .main {
width: 257px;

}

#fotter .container .main .get{
width: 100%;

}
#fotter .container .main .tittle  h4{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 26px;

}


#fotter .container .main .get p{
    padding-right: 5px;
    color: #cacaca;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
    line-height: 22px;

}


#fotter .container .main .contacts a{
   display: flex;
   text-decoration: none;
   color: #cacaca;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 400;
   padding: 5px 0;
   display:inline-block ;
}


#fotter .container .main .contacts a i{
padding-right: 13px;
}



#fotter .container .main .twitter{
    width: 100%;
    
}


#fotter .container .main .twitter .p1 p{
 line-height: 24px;

}
#fotter .container .main .twitter .p2 p{
 line-height: 24px;
 padding: 34px 0;

}
#fotter .container .main .twitter .p3 p{
 line-height: 24px;

}




#fotter .container .main .popular{
    width: 100%;
    
}

#fotter .container .main .popular .p1 p{
 line-height: 24px;

}
#fotter .container .main .popular .p2 p{
 padding: 5px 0 28px;
 color: #929292;
 font-size: 12px;
 font-weight: 400px;
 font-family: 'Roboto', sans-serif;


}
#fotter .container .main .popular .p3 p{
 line-height: 24px;

}


#fotter .container .main .about{
    width: 100%;
    
}

#fotter .container .main .about .p1 p{
 line-height: 24px;

}
#fotter .container .main .about .p2 p{
 padding: 30px 0 0;

}


/* ==============================fotter end ========================================= */



#copyright{
    background-color: #333333;
    padding: 40px 0;
}
#copyright .container{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #cacaca;
}



/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif; 
 */


























